<footer class="copyright">
  Powered by phpBB © 2001, 2002 phpBB Group
  <br />
  iCGstation v1.0 Template By
  <a href="http://www.ioptional.com" target="_blank" class="copyright">Ray</a>
  © 2003, 2004
  <a href="http://www.ioptional.com" target="_blank" class="copyright">
    iOptional
  </a>
  <br />
  <br />
  <br />
  Traduction par:
  <a href="http://phpbb.zive.net/" target="_blank" class="copyright">
    PHPBB JAPAN
  </a>
  <br />
  <br />
  <br />
  <br />
  <br />
</footer>

<style>
  footer {
    text-align: center;
  }
</style>
