<header>
  <div>
    <img src="/title.png" height="58" />
  </div>
</header>

<style>
  header {
    background: #60a2bc;
    max-height: 58px;
  }

  div {
    width: 90%;
    margin: auto;
  }
</style>
